<div class="h-screen w-full flex items-center justify-center">
  <ng-container *ngIf="userData$ | async as userData">
    <div
      class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-5"
    >
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="assets/user.jpg"
          alt="User image"
        />
        <h5 class="name mb-1 text-xl font-medium text-gray-900 dark:text-white">
          {{ userData.name }}
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400 username">{{
          userData.username
        }}</span>
      </div>
      <div class="mt-5">
        <p class="mt-2 text-gray-500 country">
          <strong>Country:</strong> {{ userData.country }}
        </p>
        <p class="mt-2 text-gray-500 postcode">
          <strong>Postcode:</strong> {{ userData.postcode }}
        </p>
        <p class="mt-2 text-gray-500 favouriteMovie">
          <strong>Favourite Movie:</strong>
          {{ userData.favouriteMovie }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
