<form [formGroup]="userForm" (ngSubmit)="onSubmit()" [ngClass]="classes">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" required />
    <mat-error
      *ngIf="formControl('name')?.invalid && formControl('name')?.touched"
    >
      Please enter a valid name.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" />
    <mat-error
      *ngIf="
        formControl('username')?.invalid && formControl('username')?.touched
      "
    >
      Please enter a valid email.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Country" formControlName="country" required>
      <mat-option value="Ireland">Ireland</mat-option>
      <mat-option value="United Kingdom">United Kingdom</mat-option>
    </mat-select>
    <mat-error
      *ngIf="formControl('country')?.invalid && formControl('country')?.touched"
    >
      Please select a country.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Post Code" formControlName="postcode" />
    <mat-error
      *ngIf="
        formControl('postcode')?.invalid && formControl('postcode')?.touched
      "
    >
      Please enter a valid postcode.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Favourite Movie"
      formControlName="favouriteMovie"
    />
    <mat-error
      *ngIf="
        formControl('favouriteMovie')?.invalid &&
        formControl('favouriteMovie')?.touched
      "
    >
      Please enter a valid movie.
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
